/* Settings */
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  margin: 25px;
}
/* H1 Style */
h1::after {
  content: "";
  display: block;
  height: 4px;
  width: 60px;
  background: linear-gradient(#caf, #fff);
  margin-bottom: 10px;
}
/* List Style */
ul {
  list-style: none;
}

li {
  font-size: 1.5em;
  display: flex;
  align-items: center;
}

li::before {
  content: "";
  width: 8px;
  height: 8px;
  display: inline-block;
  background: linear-gradient(#caf, #fff);
  border-radius: 50%;
  margin-right: 10px;
}
